name: CI & Release

on:
  push:
    branches:
      - master
      - develop
      - release

  pull_request:
    branches:
      - master
      - develop
      - release

jobs:
  test:
    name: Unit tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run unit tests
        run: |
          pytest \
            --cov=app \
            --cov-report=term \
            --cov-report=xml \
            --cov-report=html
          
      - name: Upload coverage HTML report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-html
          path: htmlcov/


  release:
    name: Create release and artifact
    needs: test
    runs-on: ubuntu-latest

    if: >
      github.event_name == 'pull_request' &&
      github.base_ref == 'release'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Build executable artifact (mock)
        run: |
          mkdir dist
          zip -r dist/currency-analysis-system.zip app README.md requirements.txt

      - name: Generate version
        id: version
        run: |
          echo "VERSION=2.0.${{ github.run_number }}" >> $GITHUB_OUTPUT

      - name: Create Git tag
        run: |
          git tag v${{ steps.version.outputs.VERSION }}
          git push origin v${{ steps.version.outputs.VERSION }}

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ steps.version.outputs.VERSION }}
          name: Release v${{ steps.version.outputs.VERSION }}
          files: dist/currency-analysis-system.zip
